# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Environment files
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Editor & OS files
.DS_Store
Thumbs.db
